<strong>Olá, {{ name }}</strong>
<p>Uma de suas Ordens de Entrega foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>Ordem ID: </strong>{{ id }}<br/>
  <strong>Data do Cancelamento: </strong>{{ cancel_date }}<br/>
  <br/>
</p>
